<div class="login-container">
  <div class="login-card">

    <h2>S'incrire</h2>


    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">
        <%= f.input :first_name,
                    required: true,
                    autofocus: true,
                    input_html: { autocomplete: "Prénom", class: "emailstyle" }%>
        <%= f.input :last_name,
                    required: true,
                    autofocus: true,
                    input_html: { autocomplete: "Nom", class: "emailstyle" }%>
        <%= f.input :email,
                    required: true,
                    autofocus: true,
                    input_html: { autocomplete: "E-mail", class: "emailstyle" }%>
        <%= f.input :password,
                    required: true,
                    hint: ("#{@minimum_password_length} caractères minimum" if @minimum_password_length),
                    input_html: { autocomplete: "Mot de passe", class: "emailstyle" } %>
        <%= f.input :password_confirmation,
                    required: true,
                    input_html: { autocomplete: "Mot de passe", class: "emailstyle" } %>
      </div>

      <div class="form-actions">
        <%= f.button :submit, "S'inscrire" %>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>
  </div>
</div>
