  <%= simple_form_for @partner do |f| %>

    <% if @partner.errors.any? %>
    <div class="errors-container">
      <ul>
        <% @partner.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


<div class="container-partner">
  <div class="form-partner">
    <div class="form-intro">

<!--- Start banner --->
      <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/di985lta5/image/upload/v1551104885/Coffee%20app/adult-bar-business-302902.jpg);">
        <div class="container">
          <h1>Devenez café partenaire</h1>
          <p>rejoingnez le mouvement Sospeso</p>
        </div>
      </div>
<!--- End banner --->

<!--- Start form --->
        <div class="container">
          <%= f.input :name %>
          <%= f.input :address %>
          <div class="partner-form-container">
            <div>
            <p>Photo de profil de votre café</p>
            <%= cl_image_tag @partner.photo, height: 300, width: 300, crop: :fill %>
            <%= f.file_field :photo %>
            </div>
          </div>

<!--- End form --->
          <div>
          <%= f.submit "Rejoindre la communauté des cafés solidaires", class: "btn-ghost" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
