
  <%= simple_form_for @partner do |f| %>

    <% if @partner.errors.any? %>
    <div class="errors-container">
      <ul>
        <% @partner.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<!--- Start banner --->
  <div class="banner">
    <div class="container">
      <h1>Devenez café partenaire</h1>
      <br>
      <p>rejoingnez le mouvement Sospeso</p>
    </div>
  </div>
<!--- End banner --->


<div class="main-form-container">


  <!--- Start form --->
  <div class="form-container">
    <div>
      <%= f.input :name, label: "Nom de votre établissement", placeholder: "Le café du coin"  %>
    </div>
    <div>
      <%= f.input :address, label: "Adresse", placeholder: "11 rue des Cyprès, 69007 Lyon" %>
    </div>
    <div>
      <%= f.input :description, label: "Un petit mot sur votre café :", placeholder: "Description" %>
    </div>



    <div class="partner-form-container">
      <div class="partner-imgup">
        <p>Une photo de votre café</p>
      </div>
      <div class="img-picto">
        <i class="fas fa-camera-retro"></i>
      </div>
      <div>
        <%= f.file_field :photo %>
      </div>
      <div class="btn-partner">
        <%= f.submit "Rejoindre la communauté des cafés solidaires", class: "btn-ghost" %>
      </div>
    </div>
    <% end %>
  </div>

  <!--- End form --->

  <!--- Start information --->
  <div class="info-container">
    <div class="info-icon">
      <i class="fas fa-coffee"></i>
    </div>
    <div class="info-title">
      <h3>Vous rejoignez le mouvement Sospeso ?</h3>
    </div>
    <div class="info-description">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque bibendum ligula vulputate nibh viverra, ut pulvinar ante mattis. Nam varius est massa, id maximus ex vehicula eu. Donec at iaculis tellus. Sed sit amet venenatis purus. Morbi placerat, ex sit amet pulvinar cursus, mi eros aliquam lorem, id tempor diam lacus vel nisl. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Quisque sed ante semper, pulvinar est at, tincidunt libero. Nulla facilisi. Ut condimentum auctor nibh non molestie.
      </p>
    </div>
  </div>
  <!--- End information --->

</div>



