<div class="error-msg">
  <%= simple_form_for @partner do |f| %>

    <% if @partner.errors.any? %>
    <div class="errors-container">
      <ul>
        <% @partner.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
</div>



<!--- Start banner --->
  <div class="banner">
    <div class="container">
      <h1>Devenez café partenaire</h1>
      <p>rejoingnez le mouvement Sospeso</p>
    </div>
  </div>
<!--- End banner --->


<div class="main-form-container">


  <!--- Start form --->
  <div class="form-container">
    <%= f.input :name %>
    <%= f.input :address %>
    <%= f.input :description %>
    <div class="partner-form-container">
      <div>
      <p>Photo de profil de votre café</p>
      <%= cl_image_tag @partner.photo, height: 80, width: 150, crop: :fill %>
      <%= f.file_field :photo %>
      </div>
    </div>
    <div>
    <%= f.submit "Rejoindre la communauté des cafés solidaires", class: "btn-ghost" %>
    </div>
    <% end %>
  </div>
  <!--- End form --->




  <!--- Start information --->
  <div class="info-container">
    test
  </div>
  <!--- End information --->


</div>
