
  <%= simple_form_for @partner do |f| %>

<!--- Start banner --->
  <div class="banner-create-partner">
    <div class="">
      <h1>Devenez café partenaire</h1>
      <br>
      <p>rejoignez le mouvement Sospeso</p>
    </div>
  </div>
<!--- End banner --->


<div class="main-form-container">


  <!--- Start form --->
  <div class="form-container">
    <div>
      <%= f.input :name, label: "Nom de votre établissement", placeholder: "Le café du coin"  %>
    </div>
    <div>
      <%= f.input :address, label: "Adresse", placeholder: "11 rue des Cyprès, 69007 Lyon" %>
    </div>
    <div>
      <%= f.input :description, label: "Un petit mot sur votre café :", placeholder: "Description" %>
    </div>



    <div class="partner-form-container">
      <div class="partner-imgup">
        <p>Une photo de votre café</p>
      </div>
      <div class="img-picto">
        <i class="fas fa-camera-retro"></i>
      </div>
      <div>
        <%= f.file_field :photo %>
      </div>
      <div class="btn-partner">
        <%= f.submit "Rejoindre la communauté des cafés solidaires", class: "btn-ghost-white" %>
      </div>
    </div>
    <% end %>
  </div>

  <!--- End form --->

  <!--- Start information --->
  <div class="info-container">
    <div class="info-icon">
      <i class="fas fa-coffee"></i>
    </div>
    <div class="info-title">
      <h3>Vous rejoignez le mouvement Sospeso ?</h3>
    </div>
    <div class="info-description">
      <p>
        La tradition du café suspendu a commencé à Naples. Quand un Napolitain se sent heureux, il commande deux cafés et il n'en boit qu'un seul : le second est en attente, inscrit sur une ardoise comme café suspendu pour un client qui n'aura pas les moyens de se le payer. Depuis, cet acte de solidarité s'est répandu dans près de 140 villes du monde entier. L'idée a déjà trouvé une place au comptoir de plusieurs restos-cafés en France. On allonge la liste ? :)
      </p>
    </div>
  </div>
  <!--- End information --->

</div>



