<div class="main-container">

  <div class="title-wrapper">
    <h1>Les cafés partenaires</h1>
  </div>

  <div class= "second-container">

<!-- début du html pour lindex des partners -->

    <div class="partners-list-container">

      <div class="search-bar-container">
        <div>
          <%= form_tag partners_path, method: :get do %>
            <div id="input-styling-address">
              <input type="search" id="input-algo" name="city" class="partner-search-bar" placeholder="Cherchez une adresse">
            </div>
          <% end %>
        </div>
      </div>

      <div class="row">
        <% @partners.each do |partner| %>
          <div class="col-sm-6 col-md-6 col-lg-6">

            <a href="#" class="show-toogle" data-partner-id="<%= partner.id %>">

              <div class="partner-card">
                <div class="partner-img">
                </div>
                <div class="partner-name">
                  <h3><%= partner.name %></h3>
                </div>
                <div class="coffee-served">
                  <p>45 Sospesos déjà distribués ici<i class="fas fa-check"></i></p>
                </div>
                <div class="partner-address">
                  <p><i class="fas fa-map-marker-alt"></i><%= partner.address %></p>
                </div>

                <div class="coffee-status">
                  <div class="coffee-pending">
                    <div class="pending">
                      <p>8</p>
                    </div>
                  </div>
                  <div class="dispo">
                    <p>Sospesos disponibles ici</p>
                  </div>
                </div>

                <div class="partner-btn">
                  <i class="fas fa-search"></i>
                </div>
              </div>
            </a>
          </div>
        <% end %>
      </div>

    </div>

<!-- début du html pour le show du partner -->

    <div id="show">
      <% @partners.each do |partner| %>
        <div class="info-partner hidden" id="info-partner-<%= partner.id%>" data-partner-id="<%= partner.id %>">

          <div class="info-partner-img">
          </div>
          <div class="info-partner-name">
            <h3><%= partner.name %></h3>
          </div>
          <div class="info-partner-desc">
            <p><i class="fas fa-map-marker-alt"></i><%= partner.address %></p>
          </div>
          <div class="bref">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce finibus magna sit amet lacus mattis varius. Sed at blandit est, sit amet malesuada neque. Duis in molestie libero.</p>
          </div>

          <div class="coffee-status-bis">
            <div class="coffee-pending-bis">
              <div class="pending-bis">
                <p>8</p>
              </div>
            </div>
            <div class="dispo">
              <p>Sospesos disponibles chez </br><%= partner.name %></p>
            </div>
          </div>

          <br>

          <div class="coffee-after">
            <div class="coffee-after-bis">
              <div class="after-bis">
                <p>45</p>
              </div>
            </div>
            <div class="dispo">
              <p>Sospesos déjà distribués</p>
            </div>
          </div>

          <div class="offer">
            <div class="offer-btn">
              <% if partner.products.present? %>
                <%= form_tag orders_path do %>
                  <%= hidden_field_tag 'product_id', partner.products.first.id %>
                  <br>
                  <%= button_tag :submit, class: 'btn-ghost' do %>
                      <i class="fas fa-coffee"></i>Offir un café
                  <% end %>
                <% end %>
              <% end %>
            </div>
          </div>

          <div class="edit-container">
            <div class="edit-placement">
              <div>
                <% if partner.user == current_user %>
                <div class="edit-text">
                  <p>Ce café vous appartient !</p>
                </div>
                  <%= link_to 'Modifier la fiche', edit_partner_path(partner), :class=>"edit-btn" %>
                <% end %>
              </div>
            </div>
          </div>


        </div>
      <% end %>
    </div>

    <!-- début du html pour la sticky map-->

    <div class="map-container">
      <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="map-wrapper">
          <div id="map" data-markers="<%= @markers.to_json %>">
          </div>
        </div>
      </div>
    </div>

  </div>
</div>


<% content_for :after_js do %>
   <script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js">
    </script>
  <script type="text/javascript" src="http://maps.google.com/maps/api/js?key=<%= ENV['GOOGLE_MAP_KEY']%>&callback=initMap" async defer></script>
<% end %>



