<h1><%= @partner.name %></h1>

<p><%= @partner.adress %></p>

<img src="<%= @partner.picture_1 %>">
<!--
<%= link_to 'remove Partner', partner_path(@partner), method: :delete %>
 -->
<%= link_to "back to list", partners_path %>
