<h1><%= @partner.name %></h1>

<p><%= @partner.address %></p>

<img src="<%= @partner.picture_1 %>">
<!--
<%= link_to 'remove Partner', partner_path(@partner), method: :delete %>
 -->
<%= link_to "back to list", partners_path %>




<h2>Buy a product</h2>

<ul>
<% @products.each do |product| %>
<li><%= product.name %> - <%= product.price %></li>
<li>Il y a <%= product.orders.size %> café(s) actuellement suspendus à <%= @partner.name %></li>

  <%= form_tag orders_path do %>
    <%= hidden_field_tag 'teddy_id', product.id %>
    <%= submit_tag 'Purchase', class: 'btn btn-primary' %>
  <% end %>

<% end %>
</ul>


<h3>My Partner</h3>
<!--The div element for the map -->
<div id="map" data-markers="<%= @marker.to_json %>"></div>
<!-- Replace the value of the key parameter with your own API key. -->

<% content_for :after_js do %>
  <script type="text/javascript" src="http://maps.google.com/maps/api/js?key=<%= ENV['GOOGLE_MAP_KEY']%>&callback=initMap" async defer></script>
<% end %>
