
<!--- Start banner --->
      <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= photo_path_for(@partner)%>)">
        <div class="container">
          <h1><%= @partner.name %></h1>
          <p><%= @partner.address %></p>
        </div>
      </div>
<!--- End banner --->


<% if @partner.user == current_user %>
  <%= link_to 'Modifier', edit_partner_path %>
<% end %>
<!--
<%= link_to 'Supprimer le café partenaire', partner_path(@partner), method: :delete %>
 -->

<div class="container" id=partner-detail>
<div>
  <br>
  <%= link_to "Retour à la liste", partners_path, :class=>"btn btn-ghost" %>
</div>
<br>
<h2>Offrir un café</h2>

<ul>
    <% @products.each do |product| %>
    <li>
      <%= product.name %> - <%= product.price %>
    </li>
    <li>
      Il y a <%= product.orders.size %> café(s) actuellement suspendu(s) à <%= @partner.name %>
    </li>
      <%= form_tag orders_path do %>
        <%= hidden_field_tag 'teddy_id', product.id %>
        <br>
        <%= submit_tag 'Offrir un café', class: 'btn-ghost' %>
      <% end %>
    <% end %>
</ul>
</div>


<h3>Mon café partenaire</h3>
<!--The div element for the map -->
<div id="map" data-markers="<%= [@marker].to_json %>"></div>
<!-- Replace the value of the key parameter with your own API key. -->

<% content_for :after_js do %>
  <script type="text/javascript" src="http://maps.google.com/maps/api/js?key=<%= ENV['GOOGLE_MAP_KEY']%>&callback=initMap" async defer></script>
<% end %>
