<%= form_tag orders_path do %>
  <%= hidden_field_tag 'product_id', @product.id %>
  <%= submit_tag 'Purchase', class: 'btn btn-primary' %>
<% end %>

<h1>Order</h1>
<ul>
  <li>Status: <%= @order.state %></li>
  <li>Item: <%= @order.product_id %></li>
  <li>Amount: <%= humanized_money_with_symbol(@order.amount) %></li>
<ul>
