<!--- Start banner --->
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/di985lta5/image/upload/v1551350723/Coffee%20app/wade-austin-ellis-723407-unsplash.jpg);">
  <div class="container">
    <h1>Sospeso</h1>
    <p>la générosité au quotidien pour une consommation solidaire</p>
    <div >
      <%= form_tag partners_path, method: :get do %>
        <div id="input-styling-address">
          <input type="search" id=input-algo name="city">
        </div>
        <%= submit_tag 'Chercher', class: 'btn btn-warning'%>
      <% end %>

    </div>
    <br>
<!--- Start searchbar --->
   <!--    <div class="search-button" id=nice-search-button>
        <form action="" >

          <div id="input-styling-address">
            <input type="search" id=input-algo>
          </div>

          <i class="fa fa-search"></i>
      </div> -->
<!--- End searchbar --->

<!--- Start Hidden form --->
      <div id=geoloc-form type="hidden">
        </form>
          <%= form_tag partners_path, method: :get, class: 'form-group' do %>
            <%= text_field_tag :lat,
              params[:lat],
              class: "form-control"
            %>
            <%= text_field_tag :long,
              params[:long],
              class: "form-control"
            %>
          <% end %>
        </div>
      </div>
      <div class="container" id=geoloc-me-button>
        <%= submit_tag 'Voir les cafés autour de moi', class: 'btn btn-warning', id: 'geolocation-submit' %>
      </div>
<!--- End Hidden form --->
  </div>
</div>
<!--- End banner --->

<!--- Start about coffee --->
  <div class="container" id=call-to-action>
    <div>
    <h2>Offrez un café suspendu</h2>
    <p>Apportez un peu de réconfort à une personne dans le besoin et participez à la vie de votre quartier. Avec Sospeso repérez autour de vous la liste de tous les établissements qui ont adopté le système. Un geste solidaire pour 2€ chez l'ensemble de nos partenaires.
    </p>
    <%= link_to "j'offre un café Sospeso",  partners_path, :class=>"btn btn-ghost" %>
    </div>
  </div>

<!--- End about coffee --->

<!--- Start become partner --->
  <div class="container" id=become-partner>
    <div>
    <h2>Devenez café partenaire</h2>
    <p>Avec 2€ vous apportez un peu de réconfort autour de vous et participez à la vie de votre quartier. Avec Sospeso repérez autour de vous la liste de tous les établissements qui ont adopté le système</p>
    <%= link_to "Comment ça marche",  new_partner_path, :class=>"btn btn-ghost" %>
    </div>
  </div>
<!--- End become partner --->
