<!--- Start landing --->
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/di985lta5/image/upload/v1551971885/Coffee%20app/sospeso-banner.jpg);">

  <div class="container">

    <div class="text-banner">
     <h1>Le café suspendu</h1>
      <p>la générosité au quotidien en quelques clics</p>
    </div>

<!--- Start searchbar --->

    <div class="search-home">
      <%= form_tag partners_path, method: :get do %>
      <div id="input-styling-address">
        <input type="search" id="input-algo" name="city" placeholder="Cherchez une adresse">
      </div>
    </div>

<!--- End searchbar --->

<!--- Start Hidden form --->

    <div class="home-btns">
      <div class="container-search" id="geoloc-me-button">
        <%= button_tag(type: 'submit', class: "btn-ghost") do %>
          <i class="fas fa-coffee"></i> Offrir un Sospeso
        <% end %>
      <% end %>
      </div>
      <div id="geoloc-form" type="hidden">
        <%= form_tag partners_path, method: :get, class: "form-group" do %>
          <%= text_field_tag :lat, params[:lat], class: "form-control" %>
          <%= text_field_tag :long, params[:long], class: "form-control" %>
        <% end %>
      </div>
      <div class="btns-place">
        <%= button_tag(type: 'submit', class: "btn-offer-coffee", id:"geolocation-submit" ) do %>
          <i class="fas fa-map-marker-alt"></i> Voir les partenaires Sospeso autour de moi
        <% end %>
      </div>
    </div>



  </div>
<!--- End Hidden form --->
</div>
<!--- End landing --->

