<h1>Offrir un <%= @order.product.name %> chez <%= @order.product.partner.name %></h1>
<%= form_tag order_payments_path(@order) do %>
  <article>
    <label class="amount">
      <span>Prix solidaire: <%= humanized_money_with_symbol(@order.amount) %></span>
    </label>
  </article>

  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
    data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
    data-name="J'offre un Café"
    data-email="<%= current_user.email %>"
    data-description="Café suspendu chez <%= @order.product.partner.name %>"
    data-amount="<%= @order.amount_cents %>"
    data-currency="<%= @order.amount.currency %>"></script>

<% end %>
